.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  .statList {
    display: flex;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    border: 1px solid grey;
    padding: 20px;
    background-color: rgb(226, 43, 156);
    color: rgb(245, 241, 236);
  }
  .item:nth-child(2n) {
    background-color: rgb(76, 23, 173);
  }
  .label {
    font-size: 16px;
  }
  .percentage {
    font-size: 20px;
  }